:root {
    --dark-blue: #b7b0c8;
    --pink: #F1E4E6;
    --dark-pink: #F16D7D;

}

body {
font-family: Lato;
font-style: normal;
font-weight: 700;
}

.container {
    width: 1140px;
    margin: 0 auto;    
}
 
.header {
    background-color: var(--dark-blue);        
}

.header__wrapper{
    min-height: 75px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: none;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__botton {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 34px;
}    

.promo {
    display: flex;
}

.promo__heading-wrapper {
    background-color: var(--pink);
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding: 0 0 0 92px;
}

.promo__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    
}

.promo__sub-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.promo__sub-heading-pink {
    color: var(--dark-pink);
}